.article p{
    text-align: center;
    font: 22px Poppins;
    padding: 20px;
}

.article figure{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.article figure img{
    width: 50%;
}


